In [20]:
import pandas as pd
df = pd.read_csv("spam.csv", encoding = 'latin-1')
df.shape

(5572, 5)

In [21]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [22]:
df.columns.to_list

In [23]:
df.head(3)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN

In [24]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
3452,ham,Nowadays people are notixiquating the laxinorf...,NaN,NaN,NaN
995,ham,Change again... It's e one next to escalator...,NaN,NaN,NaN
2959,ham,Sir send to group mail check it.,NaN,NaN,NaN
2765,ham,and picking them up from various points,NaN,NaN,NaN
2341,ham,Tell dear what happen to you. Why you talking ...,NaN,NaN,NaN

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [26]:
##Check for missing values
df.isnull().any(axis = 1)

0       True
1       True
2       True
3       True
4       True
        ...
5567    True
5568    True
5569    True
5570    True
5571    True
Length: 5572, dtype: bool

In [27]:
##Check in total how many missing values are there
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

##Data analysis using pandas
1. data cleaning
2. EDA
3. Text preprocessing
4. Trin test split
5. Build your model
6. Evaluate your model
7. Improvement
8. Deploy

###1. Data cleaning

In [28]:
##Remove the last three commands
df.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace = True)
df.shape

(5572, 2)

In [29]:
df.sample(3)

       v1                                                 v2
3917  ham  No need to ke qi... ÌÏ too bored izzit y sudde...
5087  ham  Good morning, im suffering from fever and dyse...
3401  ham  'An Amazing Quote'' - \Sometimes in life its d...

In [30]:
##Rename the columns v1 -> target and v2 -> text
df.rename(columns = {'v1':'target'}, inplace = True)
df.rename(columns = {'v2':'text'}, inplace = True)
df.sample(3)

     target                                               text
5475    ham  Dhoni have luck to win some big title.so we wi...
673     ham  Ditto. And you won't have to worry about me sa...
1787    ham                         Yes:)sura in sun tv.:)lol.

In [31]:
df['target'].value_counts()

ham     4825
spam     747
Name: target, dtype: int64

In [32]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['target'] = encoder.fit_transform(df['target'])
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [33]:
##Find out number of charecters for each message in text column
df['char_no'] = df['text'].apply(len)
df.head()

   target                                               text  char_no
0       0  Go until jurong point, crazy.. Available only ...      111
1       0                      Ok lar... Joking wif u oni...       29
2       1  Free entry in 2 a wkly comp to win FA Cup fina...      155
3       0  U dun say so early hor... U c already then say...       49
4       0  Nah I don't think he goes to usf, he lives aro...       61

In [34]:
##Find out the number of words for each charecter in text column
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/sankarshan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [35]:
df['words_no'] = df['text'].apply(lambda x: len(nltk.word_tokenize(x)))
df.head()

,target,text,char_no,words_no
0,0,"Go until jurong point, crazy.. Available only ...",111,24
1,0,Ok lar... Joking wif u oni...,29,8
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,155,37
3,0,U dun say so early hor... U c already then say...,49,13
4,0,"Nah I don't think he goes to usf, he lives aro...",61,15

In [36]:
##Find out the number of sentences for each character in text column

In [37]:
##Plot a pychart for ham and spam distribution